<%= form_for @list do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name, autofocus: true %>

	<%= f.label :description %>
	<%= f.text_field :description %>

<button class="waves-effect waves-light btn">
	<%= f.submit class: "waves-effect waves-light btn" %>
</button>
<% end %>
