<h1>Bucketlist: <%= @list.name %></h1>
<br />

<%= @list.description %>

<% if @items.any? %>
	<ul>
		<% @items.each do |item| %>
			<li>
  			<%= link_to item.name, list_item_path(@list, item) %>
  		</li>
  	<% end %>
  </ul>
<% else %>
  <h3>No items, please add one!</h3>
<% end %>

<%= link_to 'Add Items', new_list_item_path(@list) %>
<%= link_to 'Edit List', edit_list_path %>
<%= link_to 'Delete List', list_path(@list), method: :delete, data: {confirm: 'Sure you want to delete this?'} %>
