<h1>Items for: <%= @list.name %></h1>

<% if @items.any? %>
	<ul>
		<% @items.each do |item| %>
			<li>
				<h3>Item:</h3>
				<%= link_to item.name, edit_list_item_path(@list, item) %>
				<% if item.image != 'nil' %>
						<%= image_tag item.image.url(:medium) %>
				<% else %>
					<h3>No photo.</h3>
				<% end %>
			</li>
		<% end %>
	</ul>
<% else %>
	<h3> This list doesn't have any items. Please add one!</h3>
<% end %>

<%= link_to 'Add new item', new_list_item_path, class: "waves-effect waves-light green lighten-2 btn" %>
<%= link_to 'Back to Bucketlist', lists_path, class: "waves-effect waves-light green lighten-2 btn" %>
